<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Crear superusuario</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex flex-col justify-center items-center bg-cover bg-center" style="background-image: url('https://static.vecteezy.com/system/resources/previews/014/435/038/non_2x/ophthalmology-optometry-hand-drawn-seamless-pattern-contact-lenses-eye-drops-and-glasses-in-doodle-style-optometry-doodle-pattern-illustration-on-blue-background-vector.jpg');">
  <form method="post" class="bg-white shadow p-6 rounded w-full max-w-sm">
    {% csrf_token %}
    <h2 class="text-xl font-bold mb-4">Configuración inicial</h2>
    <p class="text-sm text-gray-500 mb-4">Crear usuario administrador del sistema</p>
    <input name="username" placeholder="Usuario" required class="w-full mb-3 px-4 py-2 border rounded">
    <input name="email" type="email" placeholder="Correo" required class="w-full mb-3 px-4 py-2 border rounded">
    <input name="password" type="password" placeholder="Contraseña" required class="w-full mb-4 px-4 py-2 border rounded">
    <button type="submit" class="w-full bg-black text-white py-2 rounded hover:bg-gray-800 transition">Crear y acceder</button>
    <div class="mt-4 text-center">
      <a href="{% url 'login' %}" class="text-sm text-blue-600 hover:underline">Volver al login</a>
    </div>
  </form>
</body>
</html>